# Database - Requis pour initialiser l'image Postgres et la connexion
POSTGRES_USER=moneo_admin
POSTGRES_PASSWORD=secure_password_123
POSTGRES_DB=moneo_db

# Auth - Requis pour la sécurité des tokens
ACCESS_TOKEN_SECRET=votre_secret_jwt_access
REFRESH_TOKEN_SECRET=votre_secret_jwt_refresh

# Storage (R2)
R2_ACCOUNT_ID=votre_account_id
R2_ACCESS_KEY_ID=votre_access_key
R2_SECRET_ACCESS_KEY=votre_secret_key
R2_BUCKET_NAME=moneo-assets
R2_PUBLIC_URL=https://pub-votre-id.r2.dev